body{
    background-color: white;
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', 'sans-serif';
}   

/* Hero Section Design */
h1{
    font-family: 'Sacramento', cursive;
    font-size: 100px;
    color: dodgerblue;
    margin-top: 11%;

}

h3{
    font-weight: normal;
    font-size: 40px;
    margin-top: -4%;
}

.top-cloud{
    position: absolute;
    top: 400px;
    right: 600px;
}

.bottom-cloud{
    position: absolute;
    left: 450px;
    bottom: 170px;
}

.birds{
    position: absolute;
    top: 550px;
    left:580px;
    width: 400px; 
    height: 110px;
}

.sun{
    position: absolute;
    top: 375px;
    left:550px;
    width: 150px;
    height: 150px; 
}

.mountain{
    margin-bottom: -4px;
}

/* Profile Section Design */

.profile-img{
    width: 180px;
    height: 180px; 
    margin-top: 5%;
}

/* Skills Section Design */

.skills{
    margin-top: 8%;
}

.skill-row{
    width: 50%;
    text-align: left;
    margin-bottom: 150px;
    margin-left: 25%;
    margin-top: 5%;
}

.skills-img{
    width: 30%; 
}

.skill-1{
    float: left;
    margin-right: 10%;
}

.skill-2{
    float: right;
}


/* Contact Section Design */
.contact-me{  
    padding: 5% 0;
}

.button{
    text-decoration: none;
    background:dodgerblue;
    padding: 20px 30px;
    color: white;
}

.button:hover{
    background:royalblue;
}

h2{
    color: dodgerblue;
    font-size: 40px;
}

.contact-text{
    margin-bottom: 3%;
}

.contact-subtitle{
    font-size: 20px;
}

/* Footer Section Design */

.footer{
    padding: 3% 0;
    background-color:dodgerblue;
    color: white;
}

.footer-icon{
    color: white;
}

.footer-icon:hover{
    color:royalblue;
}
